@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}
.wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 400px;
  height: 500px;
  border: 5px solid #333;
  border-radius: 10px;
  transition: .5s;
}
.wrapper:hover{
  border: 5px solid #0ef;
  box-shadow: 0 0 20px #0ef,inset 0 0 20px #0ef;
}
h2{
  color: #fff;
  font-size: 2em;
  text-align: center;
}
.wrapper:hover h2{
  color: #0ef;
}
.input-box{
  position: relative;
  width: 320px;
  margin: 30px 0;
}
.input-box input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid #333;
  padding: 0px 10px 0px 35px;
  color: #fff;
  font-size: 1em;
  border-radius: 5px;
  outline: none;
  transition: .5s;
}

.wrapper:hover .input-box input{
  border: 2px solid #0ef;
  box-shadow: 0 0 10px #0ef, inset 0 0 10px #0ef ;
}
.input-box input::placeholder{
  color: rgba(255,255,255,.3);
}
.input-box .icon{
  position: absolute;
  left: 10px;
  color: #fff;
  font-size: 1.2em;
  line-height: 55px;
  transition: .5s;
}
.wrapper:hover .input-box .icon{
  color: #0ef;
}
.forgot-pass{
  margin: -15px 0 15px;
  font-size: .9em;
  text-decoration: none;
}
.forgot-pass a:hover{
  text-decoration: underline;
}
button{
  position: relative;
  width: 100%;
  height: 45px;
  background: #333;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  transition: .5s;
}
.wrapper:hover button{
  background: #0ef;
  color: #000;
  box-shadow: 0 0 20px #0ef;
}
.register-link{
  font-size: .9em;
  text-align: center;
  margin: 25px 0;
}
.register-link p{
  color: #fff;
}
.register-link p a{
  color: #333;
  text-decoration: none;
  font-weight: 600;
  transition: .5s;
}
.wrapper:hover .register-link p a{
  color: #0ef;
}
.register-link p a:hover{
  text-decoration: underline;
}

